<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dcsrt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronPdf" publicKeyToken="94e1c31412563c75" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <dcsrt.Properties.Settings>
      <setting name="StopWords" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>'ll</string>
            <string>'tis</string>
            <string>'twas</string>
            <string>'ve</string>
            <string>10</string>
            <string>39</string>
            <string>a</string>
            <string>a's</string>
            <string>able</string>
            <string>ableabout</string>
            <string>about</string>
            <string>above</string>
            <string>abroad</string>
            <string>abst</string>
            <string>accordance</string>
            <string>according</string>
            <string>accordingly</string>
            <string>across</string>
            <string>act</string>
            <string>actually</string>
            <string>ad</string>
            <string>added</string>
            <string>adj</string>
            <string>adopted</string>
            <string>ae</string>
            <string>af</string>
            <string>affected</string>
            <string>affecting</string>
            <string>affects</string>
            <string>after</string>
            <string>afterwards</string>
            <string>ag</string>
            <string>again</string>
            <string>against</string>
            <string>ago</string>
            <string>ah</string>
            <string>ahead</string>
            <string>ai</string>
            <string>ain't</string>
            <string>aint</string>
            <string>al</string>
            <string>all</string>
            <string>allow</string>
            <string>allows</string>
            <string>almost</string>
            <string>alone</string>
            <string>along</string>
            <string>alongside</string>
            <string>already</string>
            <string>also</string>
            <string>although</string>
            <string>always</string>
            <string>am</string>
            <string>amid</string>
            <string>amidst</string>
            <string>among</string>
            <string>amongst</string>
            <string>amoungst</string>
            <string>amount</string>
            <string>an</string>
            <string>and</string>
            <string>announce</string>
            <string>another</string>
            <string>any</string>
            <string>anybody</string>
            <string>anyhow</string>
            <string>anymore</string>
            <string>anyone</string>
            <string>anything</string>
            <string>anyway</string>
            <string>anyways</string>
            <string>anywhere</string>
            <string>ao</string>
            <string>apart</string>
            <string>apparently</string>
            <string>appear</string>
            <string>appreciate</string>
            <string>appropriate</string>
            <string>approximately</string>
            <string>aq</string>
            <string>ar</string>
            <string>are</string>
            <string>area</string>
            <string>areas</string>
            <string>aren</string>
            <string>aren't</string>
            <string>arent</string>
            <string>arise</string>
            <string>around</string>
            <string>arpa</string>
            <string>as</string>
            <string>aside</string>
            <string>ask</string>
            <string>asked</string>
            <string>asking</string>
            <string>asks</string>
            <string>associated</string>
            <string>at</string>
            <string>au</string>
            <string>auth</string>
            <string>available</string>
            <string>aw</string>
            <string>away</string>
            <string>awfully</string>
            <string>az</string>
            <string>b</string>
            <string>ba</string>
            <string>back</string>
            <string>backed</string>
            <string>backing</string>
            <string>backs</string>
            <string>backward</string>
            <string>backwards</string>
            <string>bb</string>
            <string>bd</string>
            <string>be</string>
            <string>became</string>
            <string>because</string>
            <string>become</string>
            <string>becomes</string>
            <string>becoming</string>
            <string>been</string>
            <string>before</string>
            <string>beforehand</string>
            <string>began</string>
            <string>begin</string>
            <string>beginning</string>
            <string>beginnings</string>
            <string>begins</string>
            <string>behind</string>
            <string>being</string>
            <string>beings</string>
            <string>believe</string>
            <string>below</string>
            <string>beside</string>
            <string>besides</string>
            <string>best</string>
            <string>better</string>
            <string>between</string>
            <string>beyond</string>
            <string>bf</string>
            <string>bg</string>
            <string>bh</string>
            <string>bi</string>
            <string>big</string>
            <string>bill</string>
            <string>billion</string>
            <string>biol</string>
            <string>bj</string>
            <string>bm</string>
            <string>bn</string>
            <string>bo</string>
            <string>both</string>
            <string>bottom</string>
            <string>br</string>
            <string>brief</string>
            <string>briefly</string>
            <string>bs</string>
            <string>bt</string>
            <string>but</string>
            <string>buy</string>
            <string>bv</string>
            <string>bw</string>
            <string>by</string>
            <string>bz</string>
            <string>c</string>
            <string>c'mon</string>
            <string>c's</string>
            <string>ca</string>
            <string>call</string>
            <string>came</string>
            <string>can</string>
            <string>can't</string>
            <string>cannot</string>
            <string>cant</string>
            <string>caption</string>
            <string>case</string>
            <string>cases</string>
            <string>cause</string>
            <string>causes</string>
            <string>cc</string>
            <string>cd</string>
            <string>certain</string>
            <string>certainly</string>
            <string>cf</string>
            <string>cg</string>
            <string>ch</string>
            <string>changes</string>
            <string>ci</string>
            <string>ck</string>
            <string>cl</string>
            <string>clear</string>
            <string>clearly</string>
            <string>click</string>
            <string>cm</string>
            <string>cmon</string>
            <string>cn</string>
            <string>co</string>
            <string>co.</string>
            <string>com</string>
            <string>come</string>
            <string>comes</string>
            <string>computer</string>
            <string>con</string>
            <string>concerning</string>
            <string>consequently</string>
            <string>consider</string>
            <string>considering</string>
            <string>contain</string>
            <string>containing</string>
            <string>contains</string>
            <string>copy</string>
            <string>corresponding</string>
            <string>could</string>
            <string>could've</string>
            <string>couldn</string>
            <string>couldn't</string>
            <string>couldnt</string>
            <string>course</string>
            <string>cr</string>
            <string>cry</string>
            <string>cs</string>
            <string>cu</string>
            <string>currently</string>
            <string>cv</string>
            <string>cx</string>
            <string>cy</string>
            <string>cz</string>
            <string>d</string>
            <string>dare</string>
            <string>daren't</string>
            <string>darent</string>
            <string>date</string>
            <string>de</string>
            <string>dear</string>
            <string>definitely</string>
            <string>describe</string>
            <string>described</string>
            <string>despite</string>
            <string>detail</string>
            <string>did</string>
            <string>didn</string>
            <string>didn't</string>
            <string>didnt</string>
            <string>differ</string>
            <string>different</string>
            <string>differently</string>
            <string>directly</string>
            <string>dj</string>
            <string>dk</string>
            <string>dm</string>
            <string>do</string>
            <string>does</string>
            <string>doesn</string>
            <string>doesn't</string>
            <string>doesnt</string>
            <string>doing</string>
            <string>don</string>
            <string>don't</string>
            <string>done</string>
            <string>dont</string>
            <string>doubtful</string>
            <string>down</string>
            <string>downed</string>
            <string>downing</string>
            <string>downs</string>
            <string>downwards</string>
            <string>due</string>
            <string>during</string>
            <string>dz</string>
            <string>e</string>
            <string>each</string>
            <string>early</string>
            <string>ec</string>
            <string>ed</string>
            <string>edu</string>
            <string>ee</string>
            <string>effect</string>
            <string>eg</string>
            <string>eh</string>
            <string>eight</string>
            <string>eighty</string>
            <string>either</string>
            <string>eleven</string>
            <string>else</string>
            <string>elsewhere</string>
            <string>empty</string>
            <string>end</string>
            <string>ended</string>
            <string>ending</string>
            <string>ends</string>
            <string>enough</string>
            <string>entirely</string>
            <string>er</string>
            <string>es</string>
            <string>especially</string>
            <string>et</string>
            <string>et-al</string>
            <string>etc</string>
            <string>even</string>
            <string>evenly</string>
            <string>ever</string>
            <string>evermore</string>
            <string>every</string>
            <string>everybody</string>
            <string>everyone</string>
            <string>everything</string>
            <string>everywhere</string>
            <string>ex</string>
            <string>exactly</string>
            <string>example</string>
            <string>except</string>
            <string>f</string>
            <string>face</string>
            <string>faces</string>
            <string>fact</string>
            <string>facts</string>
            <string>fairly</string>
            <string>far</string>
            <string>farther</string>
            <string>felt</string>
            <string>few</string>
            <string>fewer</string>
            <string>ff</string>
            <string>fi</string>
            <string>fifteen</string>
            <string>fifth</string>
            <string>fifty</string>
            <string>fify</string>
            <string>fill</string>
            <string>find</string>
            <string>finds</string>
            <string>fire</string>
            <string>first</string>
            <string>five</string>
            <string>fix</string>
            <string>fj</string>
            <string>fk</string>
            <string>fm</string>
            <string>fo</string>
            <string>followed</string>
            <string>following</string>
            <string>follows</string>
            <string>for</string>
            <string>forever</string>
            <string>former</string>
            <string>formerly</string>
            <string>forth</string>
            <string>forty</string>
            <string>forward</string>
            <string>found</string>
            <string>four</string>
            <string>fr</string>
            <string>free</string>
            <string>from</string>
            <string>front</string>
            <string>full</string>
            <string>fully</string>
            <string>further</string>
            <string>furthered</string>
            <string>furthering</string>
            <string>furthermore</string>
            <string>furthers</string>
            <string>fx</string>
            <string>g</string>
            <string>ga</string>
            <string>gave</string>
            <string>gb</string>
            <string>gd</string>
            <string>ge</string>
            <string>general</string>
            <string>generally</string>
            <string>get</string>
            <string>gets</string>
            <string>getting</string>
            <string>gf</string>
            <string>gg</string>
            <string>gh</string>
            <string>gi</string>
            <string>give</string>
            <string>given</string>
            <string>gives</string>
            <string>giving</string>
            <string>gl</string>
            <string>gm</string>
            <string>gmt</string>
            <string>gn</string>
            <string>go</string>
            <string>goes</string>
            <string>going</string>
            <string>gone</string>
            <string>good</string>
            <string>goods</string>
            <string>got</string>
            <string>gotten</string>
            <string>gov</string>
            <string>gp</string>
            <string>gq</string>
            <string>gr</string>
            <string>great</string>
            <string>greater</string>
            <string>greatest</string>
            <string>greetings</string>
            <string>group</string>
            <string>grouped</string>
            <string>grouping</string>
            <string>groups</string>
            <string>gs</string>
            <string>gt</string>
            <string>gu</string>
            <string>gw</string>
            <string>gy</string>
            <string>h</string>
            <string>had</string>
            <string>hadn't</string>
            <string>hadnt</string>
            <string>half</string>
            <string>happens</string>
            <string>hardly</string>
            <string>has</string>
            <string>hasn</string>
            <string>hasn't</string>
            <string>hasnt</string>
            <string>have</string>
            <string>haven</string>
            <string>haven't</string>
            <string>havent</string>
            <string>having</string>
            <string>he</string>
            <string>he'd</string>
            <string>he'll</string>
            <string>he's</string>
            <string>hed</string>
            <string>hell</string>
            <string>hello</string>
            <string>help</string>
            <string>hence</string>
            <string>her</string>
            <string>here</string>
            <string>here's</string>
            <string>hereafter</string>
            <string>hereby</string>
            <string>herein</string>
            <string>heres</string>
            <string>hereupon</string>
            <string>hers</string>
            <string>herself</string>
            <string>herse”</string>
            <string>hes</string>
            <string>hi</string>
            <string>hid</string>
            <string>high</string>
            <string>higher</string>
            <string>highest</string>
            <string>him</string>
            <string>himself</string>
            <string>himse”</string>
            <string>his</string>
            <string>hither</string>
            <string>hk</string>
            <string>hm</string>
            <string>hn</string>
            <string>home</string>
            <string>homepage</string>
            <string>hopefully</string>
            <string>how</string>
            <string>how'd</string>
            <string>how'll</string>
            <string>how's</string>
            <string>howbeit</string>
            <string>however</string>
            <string>hr</string>
            <string>ht</string>
            <string>htm</string>
            <string>html</string>
            <string>http</string>
            <string>hu</string>
            <string>hundred</string>
            <string>i</string>
            <string>i'd</string>
            <string>i'll</string>
            <string>i'm</string>
            <string>i've</string>
            <string>i.e.</string>
            <string>id</string>
            <string>ie</string>
            <string>if</string>
            <string>ignored</string>
            <string>ii</string>
            <string>il</string>
            <string>ill</string>
            <string>im</string>
            <string>immediate</string>
            <string>immediately</string>
            <string>importance</string>
            <string>important</string>
            <string>in</string>
            <string>inasmuch</string>
            <string>inc</string>
            <string>inc.</string>
            <string>indeed</string>
            <string>index</string>
            <string>indicate</string>
            <string>indicated</string>
            <string>indicates</string>
            <string>information</string>
            <string>inner</string>
            <string>inside</string>
            <string>insofar</string>
            <string>instead</string>
            <string>int</string>
            <string>interest</string>
            <string>interested</string>
            <string>interesting</string>
            <string>interests</string>
            <string>into</string>
            <string>invention</string>
            <string>inward</string>
            <string>io</string>
            <string>iq</string>
            <string>ir</string>
            <string>is</string>
            <string>isn</string>
            <string>isn't</string>
            <string>isnt</string>
            <string>it</string>
            <string>it'd</string>
            <string>it'll</string>
            <string>it's</string>
            <string>itd</string>
            <string>itll</string>
            <string>its</string>
            <string>itself</string>
            <string>itse”</string>
            <string>ive</string>
            <string>j</string>
            <string>je</string>
            <string>jm</string>
            <string>jo</string>
            <string>join</string>
            <string>jp</string>
            <string>just</string>
            <string>k</string>
            <string>ke</string>
            <string>keep</string>
            <string>keeps</string>
            <string>kept</string>
            <string>keys</string>
            <string>kg</string>
            <string>kh</string>
            <string>ki</string>
            <string>kind</string>
            <string>km</string>
            <string>kn</string>
            <string>knew</string>
            <string>know</string>
            <string>known</string>
            <string>knows</string>
            <string>kp</string>
            <string>kr</string>
            <string>kw</string>
            <string>ky</string>
            <string>kz</string>
            <string>l</string>
            <string>la</string>
            <string>large</string>
            <string>largely</string>
            <string>last</string>
            <string>lately</string>
            <string>later</string>
            <string>latest</string>
            <string>latter</string>
            <string>latterly</string>
            <string>lb</string>
            <string>lc</string>
            <string>least</string>
            <string>length</string>
            <string>less</string>
            <string>lest</string>
            <string>let</string>
            <string>let's</string>
            <string>lets</string>
            <string>li</string>
            <string>like</string>
            <string>liked</string>
            <string>likely</string>
            <string>likewise</string>
            <string>line</string>
            <string>little</string>
            <string>lk</string>
            <string>ll</string>
            <string>long</string>
            <string>longer</string>
            <string>longest</string>
            <string>look</string>
            <string>looking</string>
            <string>looks</string>
            <string>low</string>
            <string>lower</string>
            <string>lr</string>
            <string>ls</string>
            <string>lt</string>
            <string>ltd</string>
            <string>lu</string>
            <string>lv</string>
            <string>ly</string>
            <string>m</string>
            <string>ma</string>
            <string>made</string>
            <string>mainly</string>
            <string>make</string>
            <string>makes</string>
            <string>making</string>
            <string>man</string>
            <string>many</string>
            <string>may</string>
            <string>maybe</string>
            <string>mayn't</string>
            <string>maynt</string>
            <string>mc</string>
            <string>md</string>
            <string>me</string>
            <string>mean</string>
            <string>means</string>
            <string>meantime</string>
            <string>meanwhile</string>
            <string>member</string>
            <string>members</string>
            <string>men</string>
            <string>merely</string>
            <string>mg</string>
            <string>mh</string>
            <string>microsoft</string>
            <string>might</string>
            <string>might've</string>
            <string>mightn't</string>
            <string>mightnt</string>
            <string>mil</string>
            <string>mill</string>
            <string>million</string>
            <string>mine</string>
            <string>minus</string>
            <string>miss</string>
            <string>mk</string>
            <string>ml</string>
            <string>mm</string>
            <string>mn</string>
            <string>mo</string>
            <string>more</string>
            <string>moreover</string>
            <string>most</string>
            <string>mostly</string>
            <string>move</string>
            <string>mp</string>
            <string>mq</string>
            <string>mr</string>
            <string>mrs</string>
            <string>ms</string>
            <string>msie</string>
            <string>mt</string>
            <string>mu</string>
            <string>much</string>
            <string>mug</string>
            <string>must</string>
            <string>must've</string>
            <string>mustn't</string>
            <string>mustnt</string>
            <string>mv</string>
            <string>mw</string>
            <string>mx</string>
            <string>my</string>
            <string>myself</string>
            <string>myse”</string>
            <string>mz</string>
            <string>n</string>
            <string>na</string>
            <string>name</string>
            <string>namely</string>
            <string>nay</string>
            <string>nc</string>
            <string>nd</string>
            <string>ne</string>
            <string>near</string>
            <string>nearly</string>
            <string>necessarily</string>
            <string>necessary</string>
            <string>need</string>
            <string>needed</string>
            <string>needing</string>
            <string>needn't</string>
            <string>neednt</string>
            <string>needs</string>
            <string>neither</string>
            <string>net</string>
            <string>netscape</string>
            <string>never</string>
            <string>neverf</string>
            <string>neverless</string>
            <string>nevertheless</string>
            <string>new</string>
            <string>newer</string>
            <string>newest</string>
            <string>next</string>
            <string>nf</string>
            <string>ng</string>
            <string>ni</string>
            <string>nine</string>
            <string>ninety</string>
            <string>nl</string>
            <string>no</string>
            <string>no-one</string>
            <string>nobody</string>
            <string>non</string>
            <string>none</string>
            <string>nonetheless</string>
            <string>noone</string>
            <string>nor</string>
            <string>normally</string>
            <string>nos</string>
            <string>not</string>
            <string>noted</string>
            <string>nothing</string>
            <string>notwithstanding</string>
            <string>novel</string>
            <string>now</string>
            <string>nowhere</string>
            <string>np</string>
            <string>nr</string>
            <string>nu</string>
            <string>null</string>
            <string>number</string>
            <string>numbers</string>
            <string>nz</string>
            <string>o</string>
            <string>obtain</string>
            <string>obtained</string>
            <string>obviously</string>
            <string>of</string>
            <string>off</string>
            <string>often</string>
            <string>oh</string>
            <string>ok</string>
            <string>okay</string>
            <string>old</string>
            <string>older</string>
            <string>oldest</string>
            <string>om</string>
            <string>omitted</string>
            <string>on</string>
            <string>once</string>
            <string>one</string>
            <string>one's</string>
            <string>ones</string>
            <string>only</string>
            <string>onto</string>
            <string>open</string>
            <string>opened</string>
            <string>opening</string>
            <string>opens</string>
            <string>opposite</string>
            <string>or</string>
            <string>ord</string>
            <string>order</string>
            <string>ordered</string>
            <string>ordering</string>
            <string>orders</string>
            <string>org</string>
            <string>other</string>
            <string>others</string>
            <string>otherwise</string>
            <string>ought</string>
            <string>oughtn't</string>
            <string>oughtnt</string>
            <string>our</string>
            <string>ours</string>
            <string>ourselves</string>
            <string>out</string>
            <string>outside</string>
            <string>over</string>
            <string>overall</string>
            <string>owing</string>
            <string>own</string>
            <string>p</string>
            <string>pa</string>
            <string>page</string>
            <string>pages</string>
            <string>part</string>
            <string>parted</string>
            <string>particular</string>
            <string>particularly</string>
            <string>parting</string>
            <string>parts</string>
            <string>past</string>
            <string>pe</string>
            <string>per</string>
            <string>perhaps</string>
            <string>pf</string>
            <string>pg</string>
            <string>ph</string>
            <string>pk</string>
            <string>pl</string>
            <string>place</string>
            <string>placed</string>
            <string>places</string>
            <string>please</string>
            <string>plus</string>
            <string>pm</string>
            <string>pmid</string>
            <string>pn</string>
            <string>point</string>
            <string>pointed</string>
            <string>pointing</string>
            <string>points</string>
            <string>poorly</string>
            <string>possible</string>
            <string>possibly</string>
            <string>potentially</string>
            <string>pp</string>
            <string>pr</string>
            <string>predominantly</string>
            <string>present</string>
            <string>presented</string>
            <string>presenting</string>
            <string>presents</string>
            <string>presumably</string>
            <string>previously</string>
            <string>primarily</string>
            <string>probably</string>
            <string>problem</string>
            <string>problems</string>
            <string>promptly</string>
            <string>proud</string>
            <string>provided</string>
            <string>provides</string>
            <string>pt</string>
            <string>put</string>
            <string>puts</string>
            <string>pw</string>
            <string>py</string>
            <string>q</string>
            <string>qa</string>
            <string>que</string>
            <string>quickly</string>
            <string>quite</string>
            <string>qv</string>
            <string>r</string>
            <string>ran</string>
            <string>rather</string>
            <string>rd</string>
            <string>re</string>
            <string>readily</string>
            <string>really</string>
            <string>reasonably</string>
            <string>recent</string>
            <string>recently</string>
            <string>ref</string>
            <string>refs</string>
            <string>regarding</string>
            <string>regardless</string>
            <string>regards</string>
            <string>related</string>
            <string>relatively</string>
            <string>research</string>
            <string>reserved</string>
            <string>respectively</string>
            <string>resulted</string>
            <string>resulting</string>
            <string>results</string>
            <string>right</string>
            <string>ring</string>
            <string>ro</string>
            <string>room</string>
            <string>rooms</string>
            <string>round</string>
            <string>ru</string>
            <string>run</string>
            <string>rw</string>
            <string>s</string>
            <string>sa</string>
            <string>said</string>
            <string>same</string>
            <string>saw</string>
            <string>say</string>
            <string>saying</string>
            <string>says</string>
            <string>sb</string>
            <string>sc</string>
            <string>sd</string>
            <string>se</string>
            <string>sec</string>
            <string>second</string>
            <string>secondly</string>
            <string>seconds</string>
            <string>section</string>
            <string>see</string>
            <string>seeing</string>
            <string>seem</string>
            <string>seemed</string>
            <string>seeming</string>
            <string>seems</string>
            <string>seen</string>
            <string>sees</string>
            <string>self</string>
            <string>selves</string>
            <string>sensible</string>
            <string>sent</string>
            <string>serious</string>
            <string>seriously</string>
            <string>seven</string>
            <string>seventy</string>
            <string>several</string>
            <string>sg</string>
            <string>sh</string>
            <string>shall</string>
            <string>shan't</string>
            <string>shant</string>
            <string>she</string>
            <string>she'd</string>
            <string>she'll</string>
            <string>she's</string>
            <string>shed</string>
            <string>shell</string>
            <string>shes</string>
            <string>should</string>
            <string>should've</string>
            <string>shouldn</string>
            <string>shouldn't</string>
            <string>shouldnt</string>
            <string>show</string>
            <string>showed</string>
            <string>showing</string>
            <string>shown</string>
            <string>showns</string>
            <string>shows</string>
            <string>si</string>
            <string>side</string>
            <string>sides</string>
            <string>significant</string>
            <string>significantly</string>
            <string>similar</string>
            <string>similarly</string>
            <string>since</string>
            <string>sincere</string>
            <string>site</string>
            <string>six</string>
            <string>sixty</string>
            <string>sj</string>
            <string>sk</string>
            <string>sl</string>
            <string>slightly</string>
            <string>sm</string>
            <string>small</string>
            <string>smaller</string>
            <string>smallest</string>
            <string>sn</string>
            <string>so</string>
            <string>some</string>
            <string>somebody</string>
            <string>someday</string>
            <string>somehow</string>
            <string>someone</string>
            <string>somethan</string>
            <string>something</string>
            <string>sometime</string>
            <string>sometimes</string>
            <string>somewhat</string>
            <string>somewhere</string>
            <string>soon</string>
            <string>sorry</string>
            <string>specifically</string>
            <string>specified</string>
            <string>specify</string>
            <string>specifying</string>
            <string>sr</string>
            <string>st</string>
            <string>state</string>
            <string>states</string>
            <string>still</string>
            <string>stop</string>
            <string>strongly</string>
            <string>su</string>
            <string>sub</string>
            <string>substantially</string>
            <string>successfully</string>
            <string>such</string>
            <string>sufficiently</string>
            <string>suggest</string>
            <string>sup</string>
            <string>sure</string>
            <string>sv</string>
            <string>sy</string>
            <string>system</string>
            <string>sz</string>
            <string>t</string>
            <string>t's</string>
            <string>take</string>
            <string>taken</string>
            <string>taking</string>
            <string>tc</string>
            <string>td</string>
            <string>tell</string>
            <string>ten</string>
            <string>tends</string>
            <string>test</string>
            <string>text</string>
            <string>tf</string>
            <string>tg</string>
            <string>th</string>
            <string>than</string>
            <string>thank</string>
            <string>thanks</string>
            <string>thanx</string>
            <string>that</string>
            <string>that'll</string>
            <string>that's</string>
            <string>that've</string>
            <string>thatll</string>
            <string>thats</string>
            <string>thatve</string>
            <string>the</string>
            <string>their</string>
            <string>theirs</string>
            <string>them</string>
            <string>themselves</string>
            <string>then</string>
            <string>thence</string>
            <string>there</string>
            <string>there'd</string>
            <string>there'll</string>
            <string>there're</string>
            <string>there's</string>
            <string>there've</string>
            <string>thereafter</string>
            <string>thereby</string>
            <string>thered</string>
            <string>therefore</string>
            <string>therein</string>
            <string>therell</string>
            <string>thereof</string>
            <string>therere</string>
            <string>theres</string>
            <string>thereto</string>
            <string>thereupon</string>
            <string>thereve</string>
            <string>these</string>
            <string>they</string>
            <string>they'd</string>
            <string>they'll</string>
            <string>they're</string>
            <string>they've</string>
            <string>theyd</string>
            <string>theyll</string>
            <string>theyre</string>
            <string>theyve</string>
            <string>thick</string>
            <string>thin</string>
            <string>thing</string>
            <string>things</string>
            <string>think</string>
            <string>thinks</string>
            <string>third</string>
            <string>thirty</string>
            <string>this</string>
            <string>thorough</string>
            <string>thoroughly</string>
            <string>those</string>
            <string>thou</string>
            <string>though</string>
            <string>thoughh</string>
            <string>thought</string>
            <string>thoughts</string>
            <string>thousand</string>
            <string>three</string>
            <string>throug</string>
            <string>through</string>
            <string>throughout</string>
            <string>thru</string>
            <string>thus</string>
            <string>til</string>
            <string>till</string>
            <string>tip</string>
            <string>tis</string>
            <string>tj</string>
            <string>tk</string>
            <string>tm</string>
            <string>tn</string>
            <string>to</string>
            <string>today</string>
            <string>together</string>
            <string>too</string>
            <string>took</string>
            <string>top</string>
            <string>toward</string>
            <string>towards</string>
            <string>tp</string>
            <string>tr</string>
            <string>tried</string>
            <string>tries</string>
            <string>trillion</string>
            <string>truly</string>
            <string>try</string>
            <string>trying</string>
            <string>ts</string>
            <string>tt</string>
            <string>turn</string>
            <string>turned</string>
            <string>turning</string>
            <string>turns</string>
            <string>tv</string>
            <string>tw</string>
            <string>twas</string>
            <string>twelve</string>
            <string>twenty</string>
            <string>twice</string>
            <string>two</string>
            <string>tz</string>
            <string>u</string>
            <string>ua</string>
            <string>ug</string>
            <string>uk</string>
            <string>um</string>
            <string>un</string>
            <string>under</string>
            <string>underneath</string>
            <string>undoing</string>
            <string>unfortunately</string>
            <string>unless</string>
            <string>unlike</string>
            <string>unlikely</string>
            <string>until</string>
            <string>unto</string>
            <string>up</string>
            <string>upon</string>
            <string>ups</string>
            <string>upwards</string>
            <string>us</string>
            <string>use</string>
            <string>used</string>
            <string>useful</string>
            <string>usefully</string>
            <string>usefulness</string>
            <string>uses</string>
            <string>using</string>
            <string>usually</string>
            <string>uucp</string>
            <string>uy</string>
            <string>uz</string>
            <string>v</string>
            <string>va</string>
            <string>value</string>
            <string>various</string>
            <string>vc</string>
            <string>ve</string>
            <string>versus</string>
            <string>very</string>
            <string>vg</string>
            <string>vi</string>
            <string>via</string>
            <string>viz</string>
            <string>vn</string>
            <string>vol</string>
            <string>vols</string>
            <string>vs</string>
            <string>vu</string>
            <string>w</string>
            <string>want</string>
            <string>wanted</string>
            <string>wanting</string>
            <string>wants</string>
            <string>was</string>
            <string>wasn</string>
            <string>wasn't</string>
            <string>wasnt</string>
            <string>way</string>
            <string>ways</string>
            <string>we</string>
            <string>we'd</string>
            <string>we'll</string>
            <string>we're</string>
            <string>we've</string>
            <string>web</string>
            <string>webpage</string>
            <string>website</string>
            <string>wed</string>
            <string>welcome</string>
            <string>well</string>
            <string>wells</string>
            <string>went</string>
            <string>were</string>
            <string>weren</string>
            <string>weren't</string>
            <string>werent</string>
            <string>weve</string>
            <string>wf</string>
            <string>what</string>
            <string>what'd</string>
            <string>what'll</string>
            <string>what's</string>
            <string>what've</string>
            <string>whatever</string>
            <string>whatll</string>
            <string>whats</string>
            <string>whatve</string>
            <string>when</string>
            <string>when'd</string>
            <string>when'll</string>
            <string>when's</string>
            <string>whence</string>
            <string>whenever</string>
            <string>where</string>
            <string>where'd</string>
            <string>where'll</string>
            <string>where's</string>
            <string>whereafter</string>
            <string>whereas</string>
            <string>whereby</string>
            <string>wherein</string>
            <string>wheres</string>
            <string>whereupon</string>
            <string>wherever</string>
            <string>whether</string>
            <string>which</string>
            <string>whichever</string>
            <string>while</string>
            <string>whilst</string>
            <string>whim</string>
            <string>whither</string>
            <string>who</string>
            <string>who'd</string>
            <string>who'll</string>
            <string>who's</string>
            <string>whod</string>
            <string>whoever</string>
            <string>whole</string>
            <string>wholl</string>
            <string>whom</string>
            <string>whomever</string>
            <string>whos</string>
            <string>whose</string>
            <string>why</string>
            <string>why'd</string>
            <string>why'll</string>
            <string>why's</string>
            <string>widely</string>
            <string>width</string>
            <string>will</string>
            <string>willing</string>
            <string>wish</string>
            <string>with</string>
            <string>within</string>
            <string>without</string>
            <string>won</string>
            <string>won't</string>
            <string>wonder</string>
            <string>wont</string>
            <string>words</string>
            <string>work</string>
            <string>worked</string>
            <string>working</string>
            <string>works</string>
            <string>world</string>
            <string>would</string>
            <string>would've</string>
            <string>wouldn</string>
            <string>wouldn't</string>
            <string>wouldnt</string>
            <string>ws</string>
            <string>www</string>
            <string>x</string>
            <string>y</string>
            <string>ye</string>
            <string>year</string>
            <string>years</string>
            <string>yes</string>
            <string>yet</string>
            <string>you</string>
            <string>you'd</string>
            <string>you'll</string>
            <string>you're</string>
            <string>you've</string>
            <string>youd</string>
            <string>youll</string>
            <string>young</string>
            <string>younger</string>
            <string>youngest</string>
            <string>your</string>
            <string>youre</string>
            <string>yours</string>
            <string>yourself</string>
            <string>yourselves</string>
            <string>youve</string>
            <string>yt</string>
            <string>yu</string>
            <string>z</string>
            <string>za</string>
            <string>zero</string>
            <string>zm</string>
            <string>zr</string>
          </ArrayOfString>
        </value>
      </setting>
    </dcsrt.Properties.Settings>
  </applicationSettings>
</configuration>
